<div class="navbar fixed-bottom navbar-dark bg-dark text-light">
  <div>&copy; @DateTime.Now.Year - Contact Boook - 
    <a  asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
  </div>
</div>